.account-login-form {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 66.13%;
}

.account-login-form-alert {
  margin-bottom: 20px;
}

.account-login-form-header {
  margin-bottom: 5px;
}

.account-login-form-workspace {
  text-transform: capitalize;
  word-wrap: break-word;
}

.account-login-form-domain {
  margin-bottom: 1.5rem;
}

.account-login-form-alert {
  margin-bottom: 20px;
}

.account-login-form-card {
  padding: 2rem;
  text-align: center;

  form {
    margin: 0 auto;
    width: 66.13%;
    text-align: left;
  }
}

.account-login-form-input {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;

  input {
    flex-shrink: 10;
    flex-grow: 10;
    margin-right: 0.5rem;
    outline: none;
    text-align: right;
  }

  span {
    flex-shrink: 0;
    flex-grow: 0;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}

.account-login-form-submit {
  margin-top: 0.5rem;
}

.account-login-forgot-credentials {
  a {
    font-weight: normal;
  }
}
