.btn {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: Lato;
  font-size: 12pt;
  font-weight: 900;
  line-height: 1rem;
  outline: none;
  padding: 10px 14px 12px;
  position: relative;
  text-align: center;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding !important;

  &:disabled {
    background: #dddddd;
    color: #616061;
    cursor: auto;
  }

  i {
    font-size: 14px;
    font-style: italic;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.btn-primary {
  background: #007a5a;
  color: #fff;

  &:disabled {
    &:hover {
      box-shadow: none;
    }
  }
}

.btn-primary:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.btn-outlined {
  background: transparent;
  border: 2px solid #616061;
  color: #616061;
  font-weight: bold;
  opacity: 0.8;
}

.btn-outlined:hover {
  opacity: 1;
}

.btn-large {
  font-size: 20px;
  letter-spacing: -0.5px;
  padding: 14px 32px 16px;
}

.full-width {
  width: 100%;
}
