.text-input {
  border-radius: 0.25rem;
  border: 1px solid #868686;
  color: #1d1c1d;
  font-family: 'Lato';
  font-size: 1.25rem;
  height: auto;
  line-height: normal;
  margin: 0 0 0.5rem;
  max-width: 100%;
  padding: 0.75rem;
  width: 100%;
}
