.ws-selection-form {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 66.13%;
}

.ws-selection-form-alert {
  margin-bottom: 20px;
}

.ws-selection-form-card {
  padding: 2rem;
  text-align: center;

  form {
    margin: 0 auto;
    width: 66.13%;
    padding-right: 2%;
  }
}

.ws-selection-form-input {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;

  input {
    flex-shrink: 10;
    flex-grow: 10;
    margin-right: 0.5rem;
    outline: none;
    text-align: right;
  }

  span {
    flex-shrink: 0;
    flex-grow: 0;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}

.ws-selection-form-submit {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
