.page-base {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page-content {
  margin: 0 auto;
  padding: 8rem 2rem;
}

@media only screen and (min-width: 1024px) {
  .page-content {
    width: 1024px;
  }
}

@media only screen and (max-height: 768px), screen and (max-width: 640px) {
  .page-content {
    padding: 6rem 2rem;
  }
}
