.btn-spinner-label {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding;
  vertical-align: middle;

  &.active {
    padding-right: 30px;
  }
}

.btn-spinner-icon {
  display: inline-block;
  height: 32px;
  margin-top: -16px;
  position: absolute;
  right: 14px;
  top: 50%;
  width: 32px;

  & > div {
    position: relative;
    height: 100%;

    & span {
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(0.4);
      transform-origin: top left;
    }
  }
}
