.alert {
  background: #fff;
  border: 1px solid #ddd;
  border-left-width: 5px;
  border-radius: 0.25rem;
  color: #1d1c1d;
  padding: 0.75rem 1rem 0.75rem 3rem;

  i {
    float: left;
    margin-left: -2rem;
  }
}

.alert-error {
  border-left-color: #e01e5a;
}
