.app-header-logo {
  background: url('../../assets/images/slack_logo.svg') left top no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 3px;
}

.app-header-link {
  border-radius: 4px;
  color: #616061;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.8;
  padding: 8px 7px 9px;
  text-decoration: none;
}

.app-header-link:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.btn-sign-in {
  margin-left: 20px !important;
}
