@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: 'Lato', appleLogo, sans-serif;
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1rem;
}

a {
  color: #1264a3;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
