.app-footer {
  section {
    margin: 0 auto !important;
    max-width: 1014px;
    padding: 0 1.5rem !important;
  }
}

.app-footer-links {
  display: flex;

  div {
    margin: 0 1.6% 2% 0;
    padding-right: 2%;
    width: 23.8%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 11px;

        a,
        a:link,
        a:visited {
          font-size: 0.82rem;
          font-weight: normal;
          color: #616061;
          text-decoration: none;
        }

        a:hover {
          color: #8c8c94;
        }
      }
    }
  }
}

.app-footer-group-title {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;

  &.title-1 {
    color: #de4e2b;
  }

  &.title-2 {
    color: #e32072;
  }

  &.title-3 {
    color: #007a5a;
  }

  &.title-4 {
    color: #4b6bc6;
  }
}

.app-footer-footnote {
  section {
    height: 100%;

    i {
      font-size: 24px;
      color: #868686;
      cursor: pointer;
    }

    i.app-footnote-slack {
      line-height: 48px;
    }

    ul.app-footnote-contact {
      float: right;
      list-style-type: none;
      margin: 0 20px 0 0;

      li {
        display: inline-block;
        line-height: 48px;
        margin-right: 0.7rem;

        a {
          font-size: 0.82rem;
          font-weight: normal;
          color: #616061;
          text-decoration: none;
        }

        i {
          color: #616061;
          font-size: 20px;

          &.app-footnote-twitter:hover {
            color: #4fa9f1;
          }

          &.app-footnote-youtube:hover {
            color: #d11f10;
          }
        }
      }
    }
  }
}
